## What are Strings?
The following example shows a string contained within 2 quotation marks:

In [1]:
# Use quotation marks for defining string
"Michael Jackson"
'Michael Jackson'

'Michael Jackson'

A string can be a combination of spaces and digits

In [3]:
# Digitals and spaces in string
'1 2 3 4 5 6'
'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

A string can also be a combination of special characters :

In [4]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

We can print our string using the print statement:

In [5]:
# Print the string
print ("hello")

hello

We can bind or assign a string to another variable:

In [3]:
# Assign string to variable
name = "Michael Jackson"
name
print(name)

Michael Jackson

## Indexing 
It is helpful to think of a string as an ordered sequence. Each element in the sequence can
be accessed using an index represented by the array of numbers:

The first index can be accessed as follows:

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Because indexing starts at 0, it means the first index is on the index 0.
</div>
<hr/>

In [10]:
# Print the first element in the string
print(name[0])

M

In [11]:
# Print the element on index 6 in the string

print(name[6])

l

In [12]:
#Print the element on the 13th index in the string

print(name[13])

o

<h3 id="neg">Negative Indexing</h3>

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [13]:
# Print the last element in the string

print(name[-1])

n

The first element can be obtained by  index -15:

In [ ]:
# Print the first element in the string

print(name[-15])

We can find the number of characters in a string by using <code>len</code>, short for length:

In [1]:
# Find the length of string

len("Michael Jackson")
print("Michael Jackson")

Michael Jackson

# Silcing

We can obtain multiple characters from a string using slicing, we can obtain the 0 to
4th and 8th to the 12th element:

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)
</div>
<hr/>

In [8]:
# Take the slice on variable name with only index 0 to index 3

name[3:7]
name[::3]

'Mhlas'

In [20]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

# Stride
 We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [23]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is 
a new string that is a combination of both:

In [26]:
statement = name + " is the best"
statement

'Michael Jackson is the best'

To replicate values of a string we simply multiply the string by the number of times
we would like to replicate it. In this case, the number is three. The result is a new string,
and this new string consists of three copies of the original string:

In [29]:
# Print the string for 3 times

3 * " Michael Jackson"

' Michael Jackson Michael Jackson Michael Jackson'

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from Michael Jackson to â€œMichael Jackson is the best".

In [30]:
# Concatenate strings
name = "michael Jackson"
name = name + "is the best"
name

'michael Jacksonis the best'

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning of escape sequences. Escape sequences represent strings
that may be difficult to input. For example, back slash "n" represents a new line.
The output is given by a new line after the back slash "n" is encountered:

In [32]:
# New line escape sequence
print("Michael Jackson /\n is the best")

Michael Jackson /
 is the best

In [33]:
# New line escape sequence with "t" which represent tab:
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

 If you want a back slash in your string, use a double back slash:

In [37]:
# Include back slash in string

print(" Michael Jackson \\\ is the best" )

 Michael Jackson \\ is the best

 We can also place an "r" before the string to display the backslash:

In [38]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [42]:
name.lower

'michael Jacksonis the best'

In [43]:
name.upper()

'MICHAEL JACKSONIS THE BEST'

In [44]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

The method <code>replace</code> replaces a segment of the string, i.e. a substring
with a new string. We input the part of the string we would like to change. The
second argument is what we would like to exchange the segment with, and the result
is a new string with the segment changed:

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

In [45]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [46]:
# Find the substring in the string.

name.find('Jack')

8

In [48]:
# If cannot find the substring in the string the output will be -1

name.find('ayo')

-1

<h2 id="quiz">Quiz on Strings</h2>

Create a variable with your name as its values

In [58]:
#Answer
name= "Ayomide Victoria"
name

'Ayomide Victoria'

print out the first three elements from your name:

In [59]:
#Answer
name[0:3]

'Ayo'

Use a stride value of 2 to print out every second character of your name variable:

Print out a backslash:

In [11]:
print("Ayomide \n Victoria")

Ayomide
 Victoria

Convert your name to upper case and store it as a new variable

In [63]:
name

'Ayomide Victoria'

In [65]:
name.upper()

'AYOMIDE VICTORIA'

Consider the variable <code>g</code>, and find the first index of the sub-string <code>snow</code>:

In [12]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

95

In the variable <code>g</code>, replace the sub-string <code>Mary</code> with <code>Bob</code>:

In [71]:
#Answer

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

# The last exercise!
Upload this to your git repository.